POSTGRESQL_IMAGE=pgvector/pgvector:pg16
NGINX_VERSION=1.27-alpine
REDIS_VERSION=7-alpine
TEMPORAL_VERSION=1.29.4
TEMPORAL_ADMINTOOLS_VERSION=1.29.4
TEMPORAL_UI_VERSION=latest
RUSTFS_VERSION=latest
MINIO_MC_VERSION=latest

POSTGRES_USER=nta
POSTGRES_PASSWORD=nta
POSTGRES_DB=nta_platform
POSTGRES_PORT=5432
DEV_GATEWAY_PORT=8081

REDIS_PORT=6379

TEMPORAL_NAMESPACE=nta-platform-dev
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8088

RUSTFS_PORT=9000
RUSTFS_CONSOLE_PORT=9001
S3_ACCESS_KEY_ID=rustfsadmin
S3_SECRET_ACCESS_KEY=ChangeMe123!
S3_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8081,http://127.0.0.1:8081

S3_BUCKET_MAIN=nta-default
